body {
  font-family: "Oxygen", Arial,"Helvetica Neue", Helvetica, sans-serif;
  background: #fff;
  background-size: 100%;
  color: #9B9B9B;
  margin:0;
  padding:0;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-rounded", "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 90%;
  color: #FFC462;
  margin:0;
}

p {
  letter-spacing: 1px;
  line-height: 150%;
  color: #9B9B9B;
}

p span {
  position: relative;
  line-height: 150%;
  left: 10%;
}

em {
  font-weight: 600;
  line-height: 150%;
}

em, a {
  font-style:normal;
  color:#277159;
}

a {
  background: #4a4a4a;
  color:#fff;
  text-decoration:none;
}

img {
  width:100%;
}

div {
  margin: 0;
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}
